<launch>    
  <!-- Arguments -->
  <arg name="motion_planning" default="/home/robin/px4/XTDrone/Motion_Planning"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="open_rviz" default="true"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg motion_planning)/maps/room.yaml"/>

  <!-- move_base -->
  <include file="$(find px4)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="/mavros/local_position/odom" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg motion_planning)/rviz/drone_navigation.rviz"/>
  </group>
</launch>
